.Weather {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.Weather .temp {
  font-size: 60px;
}

.Weather .temp-desc {
  font-size: 18px;
}
